.lead {
  font-family: 'Inter', 'Helvetica', sans-serif;
  color: #fff;
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  justify-items: center;
  justify-content: center;
  padding: 0 11.5% 92px;
}

@media screen and (max-width: 768px) {
  .lead{
    padding:0 0 88px;
  }
}

@media screen and (max-width: 425px) {
  .lead{
    padding:0 0 64px;
  }
}
