.cover__subtitle {
  margin: 32px auto 0;
  max-width: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #fff;
  z-index: 2;
}


@media screen and (max-width: 720px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 114%;
    margin: 16px;
  }
}
