.intro {
  font-family: 'Inter', 'Helvetica', sans-serif;
  color: #fff;
  display: grid;
  grid-template-columns: fit-content(690px);
  justify-items: left;
  margin: 0 11.5%;
  padding-bottom: 92px;
}

@media screen and (max-width: 1205px) {
  .intro {
    margin: 0 calc((100% - 928px)/2);
}
}

@media screen and (max-width: 1024px) {
  .intro {
    margin: 0 48px;
}
}

@media screen and (max-width: 768px) {
  .intro {
    padding-bottom: 88px;
    margin-left: 24px;
  }
}

@media screen and (max-width: 720px) {
  .intro{
    margin-left: 16px;
    padding-bottom: 64px;
  }
}
